* {
    padding: 0px;
    margin: 0px;
}

ul {
    background-color: bisque;
    list-style-type: none;
}

ul li{
    background-color: darkgrey;
    padding: 10px;
    margin: 25px;
    border-style: dashed;
    border-color: black;
    border-width: 2px;
}